:root {
  --zd-primary-clr: #767b91;
  --zd-secondary-clr: #c7ccdb;
  --zd-dark-clr: #2a324b;
  --zd-light-clr: #e1e5ee;
  --zd-highlight-clr: #f7c59f;

  --zd-nav-toggler-clr: var(--zd-highlight-clr);
  --zd-nav-toggler-glow: rgba(247, 197, 159, 0.55);
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

/* START: nav bar overrides */
/* START: nav bar overrides */
#main-nav {
  background-color: var(--zd-dark-clr);
}

#main-nav button {
  border-color: var(--zd-highlight-clr);
}

.navbar-toggler {
  color: var(--zd-nav-toggler-glow);
}

.navbar-toggler-icon-zd {
  color: var(--zd-nav-toggler-color);
  font-size: 1.5rem;
}

/* END: nav bar overrides */

/* START: Footer styles */
footer {
  background-color: var(--zd-dark-clr);
  color: var(--zd-light-clr);
}

.socialicons {
  font-size: 2rem;
  padding-left: .5rem;
  color: var(--zd-light-clr);
}

.socialicons:hover {
  color: var(--zd-primary-clr);
}

/* END: Footer styles */



/* START: Main Content Styles */
.app-logo {
  max-width: 400px;
}

.checklist {
  list-style: none;
}

.checklist>li i {
  color: var(--zd-secondary-clr);
  padding-right: 0.5rem-;
}

.devicons {
  font-size: 4rem;
  padding-left: 0.5rem;
}

#loanSummary.active {
  visibility: visible !important;
}

.cta-btn {
  color: var(--zd-dark-clr) !important;
  border-color: var(--zd-dark-clr) !important;
}

.cta-btn:hover {
  background: var(--zd-dark-clr) !important;
  color: var(--zd-light-clr) !important;
}

/* END: Main Content Styles */